<%= form_with url: article_path(@data), method: "put" do |form| %>

 	<div>
  		<%= form.label :title %><br>
		<%= form.text_field :form['title'] %>
  	</div>

  	<div>
  		<%= form.label :Decription %><br>
		<%= form.text_field :form['description'] %>
  	</div>

	<div>
  		<%= form.label :Date %><br>
		<%= form.text_field :form['date'] %>
  	</div>

	<div>
  		<%= form.label :Day %><br>
		<%= form.text_field :form['day'] %>
  	</div><br>

	<div>
  		<%= form.submit %><br>
  	</div>



<% end %>




