<h1>Articles</h1>

<table>
  <tr><br>
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th>Day</th>

  </tr>
   <%  @data.each do |article| %>
    <tr>
      <td><%= article["title"] %></td> 
      <td><%= article["date"] %></td>
      <td><%= article["day"] %></td>
      <td><%= link_to 'show', articles_show_item_path(article)  %></td>
      <td><%= link_to 'update', update_item_articles_path  %></td>
  <% end %>
</table>




