<center><h1 style="color:blue;"><b> Lists of Articles</b></h1></center>
<p>
  <%= flash[:notice] %>
</p>

<center>
<table>
  <tr><br>
    <th>Title </th>
    <th>Date</th>
    <th>Day</th>
  </tr>
   <%  @data.each do |article| %>
    <tr>
      <td><%= article["title"] %></td> 
      <td><%= article["date"] %></td>
      <td><%= article["day"] %></td>
      <td><%= link_to 'show', article_path(article["id"]) %></td>
      <td><%= link_to 'update',update_article_articles_path  %></td>
      <td><%= link_to 'Published Articles', published_articles_path %></td>
      <td><%= link_to 'update',edit_article_path(article["id"])  %></td>
      <td></td>
  <% end %>
</table></center>

 



