<h1 style="color: darkblue"><b> <%= @response['title'] %></b></h1><br>
<p>
	<strong>Description :</strong>
   	<%= @response['description'] %>
</p>
<p>
	<strong>Date :</strong>
	<%= @response['date'] %>
</p>
<p>
	<strong>Day	:</strong>
	<%=@response['day'] %>
</p>
<p>
	<strong>Published</strong>
	<%=@response['published'] %>
</p>