<h><%= @article.title %></h1>

 
<p>
	<%= @article.description %>
</p>

<p>
<strong>Date :</strong>
<%= @article.date %>
</p>

<p>
<strong>Day	:</strong>
<%= @article.day %>
</p>



 <%= link_to 'back', articles_path %>